<h1>Tool Library</h1>

<% if @admin %>
  <%= link_to "Add Tool", new_tool_path, class: "btn btn-success" %>
<% end %>

<table class="table tools">
  <% @tools.each do |tool| %>
    <tr>
      <td><%= image_tag tool.image_url, class: "tool-img" %></td>
      <td><%= tool.name %></td>
      <td>
        <% if tool.checked_out_by?(current_user) %>
          <%= button_to "Return", tool_path(tool.id), method: :patch, class: "btn btn-info" %>
        <% elsif tool.unavailable? %>
          <span class="red">Not Available</span>
        <% else %>
          <%= button_to "Borrow", tool_path(tool.id), method: :patch, class: "btn btn-info" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
