<h1>Events</h1>

<% if @user %>
  <%= link_to "Add Event", new_event_path, class: "btn btn-success" %>
<% end %>

<div class="month">
  <div class="day-name">Sunday</div>
  <div class="day-name">Monday</div>
  <div class="day-name">Tuesday</div>
  <div class="day-name">Wednesday</div>
  <div class="day-name">Thursday</div>
  <div class="day-name">Friday</div>
  <div class="day-name">Saturday</div>

  <% @events.each do |event| %>
    <% if event.offset %>
      <div class='day offset-day'></div>
    <% elsif event.events %>
      <div class='day'><span><%= event.date_number %></span><p><a href='#' data-toggle='modal' data-target='#event-<%= event.date_number %>'>Events Today!</a></p></div>
    <% else %>
        <div class='day'><span><%= event.date_number %></span></div>
    <% end %>
  <% end %>
</div>

<!-- Event Modals -->
<% @event_details.each do |event| %>
  <%= render "modal", event: event %>
<% end %>
