<h1>Posts</h1>

<% if @admin %>
  <%= link_to "Add Post", new_post_path %>
<% end %>

<% @posts.each do |post| %>
  <div class="container">
    <div class="post-wrapper">
      <article>
        <h2><%= link_to post.title, post_path(post.id) %></h2>
        <h3><%= post.user.user_name %></h3>
        <h4><%= post.pretty_updated_at %></h4>
        <p><%= post.content %></p>
      </article>
    </div>
  </div>
<% end %>
