<!DOCTYPE html>
<html>
<head>
  <title>Ada's Community Garden</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("logo.png", class: "logo"), root_path, class: "navbar-brand" %>
        <%= link_to "Ada's Community Garden", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "News", posts_path %>
          </li>
          <li>
            <%= link_to "Calendar", events_path %>
          </li>
          <li>
            <%= link_to "Tool Library", tools_path %>
          </li>

          <% if session[:user_id] %>
            <li><%= button_to "Sign Out", logout_path, class: "btn btn-default" %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_path %></li>
            <li><%= link_to "Sign In", login_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center main">

        <%= yield %>

      </div>
    </div>
  </div>

</body>
</html>
